[Unit]
Description=XMR Miner
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/minerd -a cryptonight -o stratum+tcp://mineaddress -u walletaddress -p x
Restart=always
User=root

[Install]
WantedBy=multi-user.target
